<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
</head>

<body>
    <%- include('../partials/header.ejs')%>
    <main class='profile-main font'>

        <h3>Bienvenido a Tu Perfil <%=user.apodo %></h3>
        <div class='data-box'>
            <div class='box1'>
                <img src='/images/users/<%= user.imagen %>' alt="Foto de Perfil" class='profile-image'>
            </div>

            <div class='box2'>
                <h6>Tus datos:</h6>
                <p>Nombre: <%=user.nombreyapellido %></p>
                <p>Email: <%=user.email%></p>
                <p>Teléfono: <%=user.telefono%></p>

                <h6>Datos de Envío:</h6>
                <p>Provincia: <%=user.provincia%></p>
                <p>Localidad: <%=user.localidad%></p>
                <p>Dirección: <%= user.calle + ' ' + user.numero + ' ' + user.departamento%></p>
            </div>
        </div>

        <div class='tools'>
            <a href='/user/editProfile/<%=user.id%>' class='edit'>Editar Datos</a>

            <form action='/user/editProfile/delete/<%=user.id%>/?_method=DELETE' method='POST'>
                <button type='submit' class='delete'>Eliminar Perfil</button>
            </form>
        </div>

        <div class='box3'>
            <div class='orders'>
                <a href='#'>
                    <p style='text-decoration: underline;'>Mis Pedidos</p>
                    <p>Podés tener registro de tus compras con nosotros</p>
                </a>
            </div>
            <div class='shop'>
                <a href='/products'>
                    <p>¡Quiero empezar a comprar!</p>
                </a>
            </div>
        </div>
    </main>
    <%- include('../partials/footer.ejs')%>
</body>

</html>