<!DOCTYPE html>
<html lang='en'>

<head>
    <%- include('../partials/head.ejs')%>
</head>

<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <div class='info-conteiner font'>
            <h1 class='title'>CREÁ TU CUENTA</h1>

            <div class='errores'>
                <ul> 
                   
                </ul>
            </div>

            <form action='/user/register/' method='POST' class='register-form' enctype='multipart/form-data'>

                <div class='complete-container'>
                    <p>Nombre y Apellido (*)</p>
                    <input type='text' name='nombre' value="<%= locals.oldData ? oldData.nombre : null %>" class='<%= locals.errors && errors.nombre ? "is-invalid" : null %>' autofocus>
                    <% if (locals.errors &&  errors.nombre){ %>
                            
                        <p style="color: #DC7633 ;"> <%= errors.nombre.msg %> </p>
                       
                    <% } %>
                </div>

                <div class='complete-container'>
                    <p>Cómo te gustaría que te llamemos?</p>
                    <input type='text' name='apodo' value='<%= locals.oldData ? oldData.apodo : null %>'>
                </div>

                <div class='complete-container'>
                    <p>Foto de Perfil</p>
                    <input type='file' name='avatar' class='foto-input' value='<%= locals.oldData ? oldData.avatar : null %>'>
                    <% if (locals.errors &&  errors.avatar){ %>
                            
                        <p style="color: #DC7633 ;"> <%= errors.avatar.msg %> </p>
                       
                    <% } %>
                </div>

                <div class='complete-container'>
                    <p>Email(*)</p>
                    <input type='email' name='email' value='<%= locals.oldData ? oldData.email : null %>' class='<%= locals.errors && errors.email ? "is-invalid" : null %>'>
                    <% if (locals.errors &&  errors.email){ %>
                            
                        <p style="color: #DC7633 ;"> <%= errors.email.msg %> </p>
                       
                    <% } %>
                </div>

                <div class='complete-container'>
                    <p>Teléfono</p>
                    <input type='number' name='telefono' value='<%= locals.oldData ? oldData.telefono : null %>' class='<%= locals.errors && errors.telefono ? "is-invalid" : null %>'>
                    <% if (locals.errors &&  errors.telefono){ %>
                            
                        <p style="color: #DC7633 ;"> <%= errors.telefono.msg %> </p>
                       
                    <% } %>
                </div>

                <div class='complete-container'>
                    <p>Provincia</p>
                    <select name='provincia' id='provincia'>
                        <option class='option' value="Elige tu provincia">Elige tu Provincia</option>
                    </select>
                    <% if (locals.errors &&  errors.provincia){ %>
                            
                        <p style="color: #DC7633 ;"> <%= errors.provincia.msg %> </p>
                       
                    <% } %>
                </div>

                <div class='complete-container'>
                    <p>Localidad</p>
                    <select name='localidad' id='localidad'>
                        <option value="Elige tu localidad">Elige tu Localidad</option>
                    </select>
                    <% if (locals.errors &&  errors.localidad){ %>
                            
                        <p style="color: #DC7633 ;"> <%= errors.localidad.msg %> </p>
                       
                    <% } %>
                </div>

                <div class='complete-container'>
                    <p>Dirección</p>
                    <div style='display: flex;'>
                        <input id='direccion' type='text' name='calle' placeholder='Calle' style="width: 31.5vw; font-family: 'Magra', sans-serif;" value='<%= locals.oldData ? oldData.calle : null %>' class='<%= locals.errors && errors.calle ? "is-invalid" : null %>'> <input type='text' name='numero' value='<%= locals.oldData ? oldData.numero : null %>' placeholder='Número' style="width: 12vw; margin-left: 3vw;font-family: 'Magra', sans-serif;" class='<%= locals.errors && errors.numero ? "is-invalid" : null %>'>
                        <% if (locals.errors &&  errors.calle){ %>
                            
                            <p style="color: #DC7633 ;"> <%= errors.calle.msg %> </p>
                           
                        <% } %>
                        <% if (locals.errors &&  errors.numero){ %>
                        
                            <p style="color: #DC7633 ;"> <%= errors.numero.msg %> </p>
                           
                        <% } %>
                    </div>
                    <input type='text' name='departamento' placeholder='Piso y Departamento' style="font-family: 'Magra', sans-serif;width: 46.5vw">
                </div>

                <div class='complete-container'>
                    <p>Contraseña (*)</p>
                    <input type='password' name='password' class='<%= locals.errors && errors.password ? "is-invalid" : null %>'>
                    <% if (locals.errors &&  errors.password){ %>
                            
                        <p style="color: #DC7633 ;"> <%= errors.password.msg %> </p>
                       
                    <% } %>
                </div>

                <div class='complete-container'>
                    <p>Confirmar Contraseña (*)</p>
                    <input type='password' name='passwordcheck' class='<%= locals.errors && errors.passwordcheck ? "is-invalid" : null %>'>
                    <% if (locals.errors &&  errors.passwordcheck){ %>
                            
                        <p style="color: #DC7633 ;"> <%= errors.passwordcheck.msg %> </p>
                       
                    <% } %>
                </div>
                
                <div class='button-box'>
                    <button type='submit' class='create-button'>CONFIRMA TU CUENTA</button>
                </div>
            </form>

        </div>
    </main>

    <%- include('../partials/footer.ejs') %>
    <script src='/js/user/registerForm.js'></script>
</body>

</html>