<!DOCTYPE html>
<html lang='en'>

<head>
    <%- include('../partials/head.ejs')%>
</head>

<body>
    <%- include('../partials/header.ejs')%>
        <main class='edit-main font'>
            <h2 class='edit-title'>EDITAR PRODUCTO</h2>

            <form action='/products/editProduct/<%=producto.id%>/?_method=PUT' method='POST' class='edit-form'>
                <div class='edit-space'>
                    <input type='text' name='nombre' placeholder='Nombre del Producto' value='<%= producto.nombre %>'>
                </div>
                <div class='edit-space'>
                    <select name='categoria'>
                        <option disabled selected>Categoria Principal</option>
                            <% for( let i=0; i < categorias.length; i++ ) { %>
                                <% if (categorias[i].id===producto.categoria_id) { %>
                                    <option value='<%=categorias[i].id %>' selected>
                                        <%=categorias[i].titulo %>
                                    </option>
                                <% } else { %>
                                    <option value='<%=categorias[i].id %>'>
                                        <%=categorias[i].titulo %>
                                    </option>
                                <% } %>
                            <% } %>
                    </select>
                </div>
                <div class='edit-space'>
                    <select name='subcategoria'>
                        <option disabled selected>Categoria Secundaria</option>
                            <% for( let i = 0; i < subcategorias.length; i++ ) { %>
                                <% if (subcategorias[i].id === producto.subcategoria_id) { %>
                                    <option value='<%=subcategorias[i].id %>' selected>
                                        <%=subcategorias[i].titulo %>
                                    </option>
                                <% } else { %>
                                    <option value='<%=subcategorias[i].id %>'>
                                        <%=subcategorias[i].titulo %>
                                    </option>
                                <% } %>
                            <% } %>
                    </select>
                </div>
                <div class='edit-space'>
                    <p>Foto del Producto</p>
                    <input type='file' name='foto' multiple>
                </div>
                <div class='edit-space'>
                    <input type='number' name='precio' placeholder='Precio' value='<%= producto.precio %>'>
                </div>
                <div class='edit-space'>
                    <select name='seccion'>
                        <option disabled selected>Sección</option>
                        <% for( let i = 0; i < secciones.length; i++ ) { %>
                            <% if (secciones[i].id === producto.seccion_id) { %>
                                <option value='<%=secciones[i].id %>' selected>
                                    <%=secciones[i].titulo %>
                                </option>
                            <% } else { %>
                                <option value='<%=secciones[i].id %>'>
                                    <%=secciones[i].titulo %>
                                </option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
                <div class='edit-space'>
                    <input type='number' name='descuento' placeholder='Porcentaje de Descuento' value='<%= producto.descuento %>'>
                </div>
                <div class='edit-space'>
                    <input type='text' name='talles' placeholder='Talles disponibles de la prenda' value='<%= producto.talle %>'>
                </div>
                <div class='edit-space'>
                    <input type='text' name='colores' placeholder='Colores disponibles de la prenda'value='<%= producto.color %>'>
                </div>
                <div class='edit-space'>
                    <input type='text' name='descripcion' placeholder='Descripcion de la prenda' value='<%= producto.descripcion %>'>
                </div>
                <div class='edit-space'>
                    <p>Medidas para Envío</p>
                    <div class='edit-space-m'>
                        <input type='number' name='ancho' placeholder='Ancho (cm)' value='<%= producto.ancho %>'>
                        <input type='number' name='largo' placeholder='Largo (cm)' value='<%= producto.largo %>'>
                        <input type='number' name='alto' placeholder='Alto (cm)' value='<%= producto.alto %>'>
                    </div>
                </div>
                <div class='center-button'>
                    <button type='submit' class='save-changes'>Guardar Cambios</button>
                </div>
            </form>
        </main>
        <%- include('../partials/footer.ejs')%>
</body>

</html>